################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/fknloans/v15/Server/sqlite3/storage.ide-wal
