<div class="fact">
    <div class="fact-line">
        <div class="line-1">
        </div>
        <h4>Login</h4>
        <div class="line-2">
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-0"></div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label class="col-form-label" for="inputDefault" >Enter Username</label>
                <input type="text" class="form-control" ng-model="username" placeholder="Username" id="inputDefault">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Enter Password</label>
                <input type="password" ng-model="password" class="form-control" placeholder="Password" id="inputDefault">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-success" ng-click="login()">Login</button> <button type="reset" class="btn btn-warning" ng-click="reset()">Reset</button>
            </div>
        </div>
        <div class="col-md-3 col-sm-0"></div>       
    </div>
    <p style="color:red;">{{message}}</p>
</div>