<div class="col-md-12 span_3" ng-controller="homeController">
    <div class="bs-example1" data-example-id="contextual-table">
        <h1><b>Customers</b></h1>
        <div class="row" style="padding: 2%;">
            <div class="col-md-4">
                <a href="#/addCustomer" style="color:white;"><button type="button" class="btn btn-primary">Register Customer</button></a>
            </div>
            <div class="col-md-8">
                <b>Search </b>: <input type="text" ng-model="search" placeholder="Search by FullName, Email and Location" style="width:90%; padding:1%" />
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Customer #</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Email Address</th>
                    <th scope="col">Province</th>
                    <th scope="col">Physical Address</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cus in aCustomers | filter:search">
                    <th scope="row">{{cus.CustomerId}}</th>
                    <td>{{cus.FirstName}}</td>
                    <td>{{cus.LastName}}</td>
                    <td>{{cus.CellNumber}}</td>
                    <td>{{cus.EmailAddress}}</td>
                    <td>{{cus.Location}}</td>
                    <td>{{cus.Address}}</td>
                    <td><button type="button" class="btn btn-info" ng-click="GetCustomer(cus)">More Details</button></td>
                    <td><button type="button" class="btn btn-success">Transactions</button></td>
                </tr>
            </tbody>
        </table>
        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
    </div>
</div>