<div ng-include="'pages/home/nav.html'"></div>
<div id="page-wrapper" style="min-height: 586px;">
    <div class="graphs">
        <div class="content_bottom">
            <div class="col-md-12 span_3">
                <div class="bs-example1" data-example-id="contextual-table">              
                    <div class="col-md-6">
                        <h1><b>Client Number : {{CustomerId}}</b></h1>
                    </div>
                    <div class="col-md-6">
                        <h1><b>Number Of  Loans : {{numLoans}}</b></h1>
                    </div>
                    <div class="row" style="padding: 2%;">
                        <div class="col-md-12">
                            <h3>Client Information</h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{{status}}</h1>
                                </div>
                                <div class="panel-body">                                                            
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3" align="center">
                                            <img src="http://localhost:8080/git.fknloans/loans/api/uploads/profiles/5.png" class="img-circle img-responsive" />
                                            <br />
                                            <img src="{{url}}" class="img-circle img-responsive" />
                                        </div>
                                        <div class="col-md-5 col-lg-5">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>Name(s):</td>
                                                        <td>{{FirstName}} {{LastName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cell Number:</td>
                                                        <td>{{CellNumber}} {{AlternativeNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email:</td>
                                                        <td>{{EmailAddress}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Identity Number:</td>
                                                        <td>{{IdNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Address:</td>
                                                        <td>{{Location}}, {{Address}}</td>
                                                    </tr> 
													<tr>
                                                        <td>Next Of Keen:</td>
                                                        <td>{{NOKName}}</td>
                                                    </tr> 	
													<tr>
                                                        <td>Next Of Keen Address:</td>
                                                        <td>{{NOKAddress}}</td>
                                                    </tr> 
													<tr>
                                                        <td>Next Of Keen Contact Number:</td>
                                                        <td>{{NOKContactNumber}}</td>
                                                    </tr> 
													 <tr> 
                                                         <td>work address:</td>	 
                                                         <td>{{WorkAddress}}</td> 
                                                   </tr> 	 
													<tr>
                                                        <td>Department:</td>
                                                        <td>{{Department}}</td>
                                                    </tr> 	
													<tr>
                                                        <td>Call Sign:</td>
                                                        <td>{{CallSign}}</td>
                                                    </tr> 	
														
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <table class="table table-hover">
                                                <tbody>                                                  
                                                    <tr>
                                                        <td><b>Bank</b></td>
                                                        <td><b>Information</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank Name:</td>
                                                        <td>{{BankName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Account Number:</td>
                                                        <td>{{AccountNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Branch-Code:</td>
                                                        <td>{{BranchCode}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Account Type:</td>
                                                        <td>{{AccountType}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a href="#/editCustomer" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">Edit  <span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="pull-right">
                                      <a href="" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" ng-click="Deactivate()">De-Activate <span class="fa fa-trash-o"></span></a>
                                      <a href="mailto:{{EmailAddress}}" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"  >Send Message <span class="glyphicon glyphicon-envelope"></span></a>
                                      </span>
                                </div>
                            </div>
                           
                        </div>
                                           
                    </div> 
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bs-example1" data-example-id="contextual-table">
                                <div class="col-md-4">
                                    <h3>Loan(s)</h3>
                                    <button type="button" class="btn btn-primary" ng-click="createLoan()">Create Loan</button>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Loan #</th>
                                            <th>Loan ID</th>
                                            <th>Loan Amount</th>
                                            <th>Balance</th>
                                            <th>Loan Summary</th>
                                            <th>Referrer</th>                                             
                                            <th>Last Transaction Date</th>                                          
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="loan in aLoans">
                                            <td>{{$index + 1}}</td>
                                            <td>{{loan.LoanId}}</td>
                                            <td>R{{loan.LoanAmount}}</td>
                                            <td style="color:red">R{{loan.Balance}}</td>
                                            <td>{{loan.Description}}</td>
                                            <td>{{loan.Referrer}}</td>
                                             <td>{{loan.LoanDate}}</td>                                             
                                            <td> <button type="button" class="btn btn-sm btn-primary" ng-click="getLoan(loan)">Update Loan  <span class="fa fa-edit"></span></></button></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
                            </div>
                            <hr />
                            <div class="bs-example1" data-example-id="contextual-table">
                                <div class="col-md-4">
                                    <h3>Documents</h3>
                                    <a href="#/addDocument" style="color:white"><button type="button" class="btn btn-primary">Upload Document</button></a>
                                    </div>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Document #</th>
                                                <th>Document ID</th>
                                                <th>Loan ID</th>
                                                <th>Description</th>
                                                <th>View</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="doc in aDocuments">
                                                <td>{{$index + 1}}</td>
                                                <td>{{doc.DocumentId}}</td>
                                                <td><i>{{doc.LoanId}}</i></td>
                                                <td>{{doc.Description}}</td>
                                                <td><a href="{{doc.Url}}" target="_blank">View File</a></td>
                                                <td>{{doc.Status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="dcurrentPage" items-per-page="itemsPerPage"></ul>
                                </div>
                        </div> 
                    </div> 
                                
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>