<div ng-include="'pages/home/nav.html'"></div>
<div id="page-wrapper" style="min-height: 586px;">
    <div class="graphs">
        <div class="content_bottom">
            <div class="col-md-12 span_3">
                <div class="bs-example1" data-example-id="contextual-table">              
                    <div class="col-md-6">
                        <h1><b>Customer Number : {{CustomerId}}</b></h1>
                    </div>
                    <div class="col-md-6">
                        <h1><b>Number Of  Loans : {{numLoans}}</b></h1>
                    </div>
                    <div class="row" style="padding: 2%;">
                        <div class="col-md-12">
                            <h3>Customer Information</h3>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{{status}}</h1>
                                </div>
                                <div class="panel-body">                                                            
                                    <div class="row">
                                        <div class="col-md-3 col-lg-3" align="center"><img src="{{url}}" class="img-circle img-responsive"/></div>
                                        <div class="col-md-5 col-lg-5">
                                            <table class="table table-hover">
                                                <tbody>
                                                    <tr>
                                                        <td>Name(s):</td>
                                                        <td>{{FirstName}} {{LastName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Cell Number:</td>
                                                        <td>{{CellNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email:</td>
                                                        <td>{{EmailAddress}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Identity Number:</td>
                                                        <td>{{IdNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Address:</td>
                                                        <td>{{Location}}, {{Address}}</td>
                                                    </tr>                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-4 col-lg-4">
                                            <table class="table table-hover">
                                                <tbody>                                                  
                                                    <tr>
                                                        <td><b>Bank</b></td>
                                                        <td><b>Information</b></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Bank Name:</td>
                                                        <td>{{BankName}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Account Number:</td>
                                                        <td>{{AccountNumber}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Branch-Code:</td>
                                                        <td>{{BranchCode}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Account Type:</td>
                                                        <td>{{AccountType}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <a href="#/editCustomer" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">Edit  <span class="glyphicon glyphicon-edit"></span></a>
                                    <span class="pull-right">
                                      <a href="" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" ng-click="Deactivate()">De-Activate <span class="fa fa-trash-o"></span></a>
                                      <a href="mailto:{{EmailAddress}}" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"  >Send Message <span class="glyphicon glyphicon-envelope"></span></a>
                                      </span>
                                </div>
                            </div>
                           
                        </div>
                                           
                    </div> 
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="bs-example1" data-example-id="contextual-table">
                                <div class="col-md-4">
                                    <h3>Loan(s)</h3>
                                    <button type="button" class="btn btn-primary">Create Loan</button>
                                </div>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Loan #</th>
                                            <th>Loan Amount</th>
                                            <th>Balance</th>
                                            <th>Loan Term</th>                                             
                                            <th>Date Borrowed</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="loan in aLoans">
                                            <td>{{loan.LoanId}}</td>
                                            <td>R{{loan.LoanAmount}}</td>
                                            <td style="color:red">-R{{Total}}</td>
                                            <td><a href="">{{loan.LoanTerm}}</a></td>
                                             <td>{{loan.LoanDate}}</td>
                                            <td><a href="" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary">View  <span class="fa fa-search-plus"></span></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul>
                            </div>
                            <hr />
                            <div class="bs-example1" data-example-id="contextual-table">
                                <h3>Documents</h3>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Document #</th>
                                            <th>Loan #</th>
                                            <th>Description</th>
                                            <th>View</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td><i>null</i></td>
                                            <td>This is a Proof of Identification</td>
                                            <td><a href="">View File</a></td>
                                            <td>Authenticated</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div> 
                                
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>