<div ng-include="'pages/home/nav.html'"></div>
<div id="page-wrapper" style="min-height: 586px;">
    <div class="graphs">
        <div class="col_3">
        </div>
        <div class="content_bottom">
            <div class="col-md-12 span_3">
                <div class="bs-example1" data-example-id="contextual-table">
                    <h1>Edit <b>{{FirstName}} {{LastName}}'s</b> Details</h1>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <b>Edit FirstName(s)</b>
                                <input required type="text" ng-model="FirstName" placeholder="First Name" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Surname</b>
                                <input required type="text" ng-model="LastName" placeholder="Surname" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit CellNumber</b>
                                <input required type="text" ng-model="CellNumber" placeholder="CellPhone Number" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Email</b>
                                <input type="text" ng-model="EmailAddress" placeholder="Email Address" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit ID #</b>
                                <input required type="text" ng-model="IdNumber" placeholder="Identity Number" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group" style="text-align:left">
                                <div>
                                    <span class="btn btn-default btn-file">
                                        Upload Profile Picture(1MB Max) <i class="fa fa-user"></i>
                                        <input type="file" class="fileUpload" onchange="angular.element(this).scope().filesChanged(this)" />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" ng-click="SaveFile()">Upload</button>
                                <br><font color="black"><b>{{filename}}</b></font>
                                <br><font color="red"><b>{{errorP}}</b></font>
                            </div>
                            <div class="form-group">
                                <b>Edit Location</b>
                                <input required type="text" ng-model="Location" placeholder="Province" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Physical Address</b>
                                <input required type="text" ng-model="Address" placeholder="Physical Address" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Employer Name</b>
                                <input required type="text" ng-model="EmployerName" placeholder="Name of employer" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Contact Number</b>
                                <input required type="text" ng-model="EmployerCellNumber" placeholder="Employer Contact Number" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Employer Address</b>
                                <textarea required type="text" ng-model="WorkAddress" placeholder="Work Address" style="width:90%; padding:1%"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <b>Edit Department</b>
                                <input required type="text" ng-model="Department" placeholder="Department / Unit" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Stationed Area</b>
                                <textarea required type="text" ng-model="StationedArea" placeholder="Stationed Area Address" style="width:90%; padding:1%"></textarea>
                            </div>
                            <div class="form-group">
                                <b>Edit Service Number</b>
                                <input required type="text" ng-model="CallSign" placeholder="Service Number /Call Sign" style="width:90%; padding:1%">
                            </div>
                            <hr />    
                            <div class="form-group">
                                <b>Edit BankName</b>
                                <input required type="text" ng-model="BankName" placeholder="Bank Name" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Account Number</b>
                                <input required type="text" ng-model="AccountNumber" placeholder="Account Number" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Branch Code</b>
                                <input required type="text" ng-model="BranchCode" placeholder="Branch Code" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Account Type</b>
                                <input required type="text" ng-model="AccountType" placeholder="Account Type" style="width:90%; padding:1%">
                            </div>
                            <hr />   
                            <div class="form-group">
                                <b>Edit Next Of Keen</b>
                                <input required type="text" ng-model="NOKName" placeholder="Next Of Keen Name" style="width:90%; padding:1%">
                            </div>
                            <div class="form-group">
                                <b>Edit Next Of Keen Address</b>
                                <textarea required type="text" ng-model="NOKAddress" placeholder="Next Of Keen Address" style="width:90%; padding:1%"></textarea>
                            </div>
                            <div class="form-group">
                                <b>edit Next Of Keen contact Number</b>
                                <input required type="text" ng-model="NOKContactNumber" placeholder="Next Of Keen Contact Numbers" style="width:90%; padding:1%">
                            </div> 
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" ng-click="editCustomer()">Submit</button> <button type="reset" class="btn btn-warning" style="background-color:orange;border-color:orange;" ng-click="reset()">Reset</button>
                            </div>
                            <p><a href="#/viewCustomer">Abort</a></p>
                        </div>
                    </div>
                    <p style="color:red;">{{error}}</p>
                </div>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>