<div ng-include="'pages/home/nav.html'"></div>
<div class="fact">
    <div class="fact-line">
        <div class="line-1">
        </div>
        <h4>Customers</h4>
        <div class="line-2">
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<div class="row">
    <div class="row" style="padding: 2%;">
        <b>Search </b>: <input type="text" ng-model="search" placeholder="Search by FullName, Email and Location" style="width:30%; padding:1%" />
    </div>
    <table class="table table-hover table-responsive">     
        <thead>
            <tr>
                <th scope="col">Customer Number</th>
                <th scope="col">First Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Contact Number</th>
                <th scope="col">Email Address</th>
                <th scope="col">Province</th>
                <th scope="col">Physical Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="cus in customers | filter:search">
                <th scope="row">{{cus.CustomerId}}</th>
                <td>{{cus.FirstName}}</td>
                <td>{{cus.LastName}}</td>
                <td>{{cus.CellNumber}}</td>
                <td>{{cus.EmailAddress}}</td>
                <td>{{cus.Location}}</td>
                <td>{{cus.Address}}</td>
                <td><button type="button" class="btn btn-info">More Details</button>|<button type="button" class="btn btn-success">Transactions</button></td>
            </tr>
         </tbody>
    </table>
</div>