 
<div class="login-logo">
   <h1 style="color:black;">FKN Micro Loans Dashboard</h1>
  </div>
  <h2 class="form-heading">login</h2>
  <div class="app-cam">
	  <form>
		<input type="text" ng-model="username" class="text" value="">
		<input type="password" ng-model="password" value="" placeholder="Enter Password">
		<!--<div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>-->
          <div>
              <button type="button" class="btn btn-success" ng-click="login()">Login</button> <button type="reset" class="btn btn-warning" ng-click="reset()">Reset</button>
          </div>		
		<!--<ul class="new">
			<li class="new_left"><p><a href="#">Forgot Password ?</a></p></li>
			<li class="new_right"><p class="sign">New here ?<a href="register.html"> Sign Up</a></p></li>
			<div class="clearfix"></div>
		</ul>-->
	</form>
      <p style="color:red">{{message}}</p>
  </div> 
<br />
<br />
<br />

