  <div class="login-logo">
   <h1 style="color:black;">FKN Micro Loans Dashboard</h1>
  </div>
  <h2 class="form-heading">Update Password</h2>
  <div class="app-cam">
	  <form>
		<input type="password" ng-model="Password" class="text" value="" placeholder="Enter New Password">
		<input type="password" ng-model="PasswordConfirm" value="" placeholder="Re-Enter New Password">
		<!--<div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>-->
          <div>
              <button type="button" class="btn btn-warning" ng-click="submit()">Update</button> <button type="reset" class="btn btn-success" ng-click="reset()">Reset</button>
          </div>
            <p><a href="#/">Abort</a></p>

           <br />
        <p style="color:red;">{{message}}</p>
	</form>
  </div>
 

